.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.Labels{
   position: relative;
   bottom : -10px; 
   right: -5px;
}
.Labels2{
    position: relative;
    bottom : -10px; 
    right: -10px;
 }