.BiggerFont{
    size: 60%;
    font-size: 160%;
    font-style: oblique;
}
.PropName{
    
    font-size: 160%;
    font-weight: bold;
    
}
.grid {
    color: gray;

    margin-top: 1%;
 
    
    
   
}
.biggerText{
    size: 60%;
    font-size: 120%;
    
}