.BiggerFont{
    size: 60%;
    font-size: 160%;
    font-style: oblique;
}
.PropName{
    
    font-size: 160%;
    font-weight: bold;
    
}
.grid {
    color: gray;

    margin-top: 1%;  
}
.pushRight{
margin-left: 18px;
}
.biggerText{
    size: 60%;
    font-size: 120%;
    
}
.ClearContact{
    size: 40%;
}
.increaseSize{
    size:110%;
}
.spacing{
    
    padding-left: 10%;
}
.inlineButtons{
    display: inline;
}
.pushDown{
    padding-top: 6%;
}
.Buttonspacing{
    padding-left: 1%;
}
.element {
    
    text-align: left;
  }
  .lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.Labels{
    position: relative;
    bottom: -20px;
}
.MultLabels{
    position: relative;
    bottom: -11px;
    margin-left: 60px;

}
.selectRole{
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    right: -2px;
    position: relative;
}
.DeleteAR {
    padding-bottom: 0.3%;
   padding-top: 0.3%;
   position: relative;
   right: -4px;
   /* margin-right: 390px; */
   
   
}
.rowPadding {
    padding-bottom: 0.3%;
   padding-top: 0.3%;
}